<h2>Listing all the Dockets</h2>


<table class="table table-striped table-bordered table-condensed">

  <th>Docket Name</th>
  <th>Link</th>
  <% @dockets.each do |docket| %>
      <tr>
  <td><%= docket.name %></td>
  <td><%= link_to "View Documents",view_documents_path(docket.id) %></td>
      </tr>

  <% end %>
  <tr>
    <td>   <%= link_to "Back",author_path,:class=>"btn btn-warning" %></td>
  </tr>


</table>