<h2>Listing all the documents</h2>


<table class="table table-striped table-bordered table-condensed">

  <th>Document Name</th>
  <th>Link</th>
  <% @pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td><%= link_to "Customize",document_customize_view_path(:page_id=>page.id) %></td>
      </tr>

  <% end %>
  <tr>
 <td>   <%= link_to "Back",view_documents_path(@docket.id),:class=>"btn btn-warning" %></td>
  </tr>

</table>

